_site
.sass-cache
.jekyll-metadata
.jekyll-cache/

# VIM files
*.swo
*.swp

*.log
.vscode/settings.json
.gitignore
.frontmatter/database/taxonomyDb.json
.frontmatter/database/mediaDb.json
