{%assign sorted-posts = site.posts | sort: 'post-date' | reverse %}

<ul class="part-navigator">
    {% for post in sorted-posts %}
        {% if post.tags contains "ray-tracing-in-one-weekend" %}

        <li>
                    <a href="{{ post.url }}#post-title" class="btn"
                        {% if {{page.url}} ==  {{post.url}} %}
                            class="btn inactive"
                        {% endif %}
                    >{{ post.subtitle }}</a>

                </li>
        {% endif %}
    {% endfor %}
</ul>