<head>


  <!-- favicon settings -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/site-images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/site-images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/site-images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site-images/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/site-images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/site-images/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/images/site-images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">



  {% if page.use-math %}
  {% include mathjax-support.html %}
  {% endif %}

  <!-- Prism is now loaded by being imported in assets/css/style.scss -->
  <!-- <link href="/assets/css/prism.css" rel="stylesheet" /> -->

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">




  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

 
  {% if page.use-raw-images %}
    <style>

    img{
      
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
    }
    </style>
  {% endif %}


</head>