<!-- <link href="../assets/fontawesome/all.css" rel="stylesheet"> load all styles -->

<script src="/js/site-scripts/toggle-search.js" type="text/javascript"></script>

<nav>
  {% for item in site.data.navigation %}
  <a href="{{ item.link }}"

    {% if item.name=="Search" %} 
      id="{{ item.id }}" onclick="{{ item.onclick }}" 
    {% endif %}

    {% if page.url==item.link or page.url contains "tags" and item.name=="Tags" %}
      class="nav-bar-link inactive"
    
    {% else %}
      class="nav-bar-link"
    {% endif %}>
    
    {{ item.icon }}
    <br>
    {{ item.name }}
  </a>
  {% endfor %}
</nav>