<div class="tag-cloud">
    <p><b>{{ site.tags | unique | size }} unique tags in total</b></p>
    <ul>
        {% assign tags = site.posts | all_tags %}
        {% for tag in tags %}
        {% assign tag_slug = tag['name'] | slugify: "raw" %}
        <li>
            <code><a class="tag-link" 
                    href="{{ site.baseurl | append: "/tags/" | append: "tag_slug" | append: "/" }}"
                    rel="category-tag">#{{tag['name']}}</a></code>
            ({{ tag['count'] }})
        </li>
        <p>tag_slug</p> <p>{{ tag_slug }}</p>
        {% endfor %}
    </ul>
</div>

<!-- {% for tag in page.tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
  <code><a class="tag-link"
    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
    rel="category tag">
    #{{ tag }}</code></a>
{% endfor %} -->