.page-header {
    background-color: transparent;
    background-image: linear-gradient(180deg, $color-accent, $color-primary, $color-primary);
    color: $color-accent;
    padding-bottom: 0;
  }

  .header-image {
    max-width: 10rem;
    height: auto;
    border-radius: 50%;
  }

  #header-main-divider {
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-color: $color-accent;
  }