// Markdown doesn't work inside divs, but it does work inside spans. Hence, "display:block"

.tip {
    display: block;
    padding: .5rem;
    background-color: $color-tip-background;
    border-color: $color-tip-border;
    border-style: solid;
    border-width: .1rem;
}

.note {
    display: block;
    padding: .5rem;
    background-color: $color-note-background;
    border-color: $color-note-border;
    border-style: solid;
    border-width: .1rem;
}

.info {
    display: block;
    padding: .5rem;
    background-color: $color-info-background;
    border-color: $color-info-border;
    border-style: solid;
    border-width: .1rem;
}

.warning {
    display: block;
    padding: .5rem;
    background-color: $color-warning-background;
    border-color: $color-warning-border;
    border-style: solid;
    border-width: .1rem;
}