img {
    // width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    // border-radius: 0.1rem;
  
    
  }

  .half-sized-image img{
    width: 50%;
  }

  // .raw {
    // to use raw images, specify "use-raw-images" in the post frontmatter
    // there's a conditional internal stylesheet in "includes/head.html"
    // that removes default image processing 
  // }
  
  .captioned-image { 
    display: block;
    text-align: center;
    font-style: italic;
    color: $color-accent;
    margin-bottom: 1rem;
  }
  
  // Mouseover images section
  
  .container {
    position: relative;
    text-align: center;
    font-style: italic;
    border: solid 3px $color-clickable;
    border-radius: .2rem;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  // End mouseover images section