.post-list {
  padding: 0;
}

.post {
  text-align: center;
}

.post-header {
  color: $color-clickable;
  text-align: center;
}

.post-header:hover {
  color: $color-primary;
}

.post-date {
  color: $color-accent;
}

.post-button {
  text-align: center;
}

.post-tags {
  text-align: center;
}


 #continue-reading-point {
   width: 0;
   height: 0;
   padding: 0;
 }

// #post-title {
//   color: $color-accent;
// }

// #post-subtitle {
//   color: $color-accent;
// }
