#search-container {
    position: absolute; /* Sit on top of the page content */
    height: max-content;
    left: 0;
    right: 0;
    width: 100%;
    // background-color: #393e4693; /* Background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  #search-input {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    background-color: $color-primary;
    border-color: $color-clickable;
    border-style: solid 1px;
    color: $color-clickable;
  }
  
  #results-container {
    background-color: #393e46;
    text-align: left;
    padding: .5rem 1rem;
    width: 94%; // idk it's not "main-content"
    margin: auto;
    margin-top: 1rem;
    // border-radius: 0.1rem;
  }

  #results-container a {
    display: inline-block;
    width: 100%;
    padding: .5rem;
  }