#search-container {
    position: absolute; /* Sit on top of the page content */
    width: max-content; 
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #393e4693; /* Background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  #search-input {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    background-color: #222831;
    border-color: #42cad1;
    border-style: solid 1px;
    color: #42cad1;
  }
  
  #results-container {
    background-color: #393e46;
    border-radius: 0.1rem;
  }