---
layout: default
---

<div class="post-header inactive">
<h1 id="post-title">{{ page.title }}</h1>
<h3 id="post-subtitle">{{ page.subtitle }}</h3>
<div class="post-date">
    <i class="fas fa-calendar"></i> <time>{{ page.date |date_to_string }}</time>
</div>
</div>

<img src="{{ page.header-image }}" alt="{{ page.header-image-alt }}" title="{{ post.header-image-description }}">

{{ content }}

<hr>
<h1><i class="fas fa-hand-peace"></i></h1>
<div class="post-tags">
    {% include post-tags.html %}
</div>
