---
layout: default
---

<div class="post-header inactive">
<h1 id="post-title">{{ page.title }}</h1>
<h3 id="post-subtitle">{{ page.subtitle }}</h3>
<div class="post-date">
    <i class="fas fa-calendar"></i> <time>{{ page.date | date_to_string }}</time>
</div>
</div>

<img class="post-image" src="{{ page.header-image }}" alt="{{ page.header-image-alt }}" title="{{ post.header-image-description }}">



<a id="continue-reading-point"></a>

<div class="excerpt">
{{ page.excerpt | liquify | markdownify }}
</div>
<!--end-excerpt-->


{% if page.disclaimer %}

{% capture myinclude %}{% include {{ page.disclaimer }} %}{% endcapture %}
{{ myinclude | markdownify }}

{% endif %}

<hr>

<h2>Contents</h2>
{% if page.part-nav %}
{% include {{ page.part-nav }} %}
{% endif %}
{{ content | toc_only }}

<hr>

<div id="markdown-content">
    {{ content | inject_anchors }}
  </div>

<hr>
<h1><i class="fas fa-hand-peace"></i></h1>
<div class="post-tags">
    {% include post-tags.html %}
</div>
